*{
    font-family: 'helvetica';
}
body{
    background-image: url(background.jpg);
}
.titulo{
    text-align: center;
    font-size: 50px;
}
.general{
    padding-top: 75px;
    width: 60%;
    margin: auto;
}
.operaciones{
    display: grid;
    grid-template-rows: 170px 220px;
}
.operaciones div{
    text-align: center;
    border: 5px solid #fff;
    background-color:#f14e38;
    border-radius: 8px;
    margin-top: 10px;
    border-style: double;
}
.etiqueta{
    display: inline-block;
    width: 200px;
}
.campo{
    padding: 5px;
    border-radius: 5px;
}
.boton{
    font-weight: bold;
    border: 2px solid black;
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
    background-color: #2cc768;
}